html {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.main .profile {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2) - env(safe-area-inset-top) - env(safe-area-inset-bottom))
}

:root {
    --main-width: 1024px;
}

img[alt="Get it on Google Play"] {
    width: 140px;
}

img[alt="Get it on Apple Store"] {
    width: 120px;
    margin: 10px;
}

.d-inline-block {
    display: inline-block;
}

.m-2 {
    margin: 8px;
}